$('.message').append("<div class='mycomment mt-1 mb-1'><p class='ml-auto' style='position: relative; background: #32cd54; border: 1px solid #777; margin: 10px; padding: 10px; border-radius: 15px; margin-left: 20%; clear: both; max-width: 500px; float: right;'><%= @message.content %></p></div>");
document.getElementById("new_message").value = "";