<div class="container all">
  <div clas="row">
    <div class="col-sm-10">
      <div class="row">
        <% @bookmarks.reverse.each do |mark|%>
          <div class="col-sm-4 user-memory">
            <%= link_to log_path(mark.log) do %><%= attachment_image_tag mark.log, :log_image, size: "200x200" %><% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>