<div class="container all">
  <h1 class="logo text-center mb-5">My Bookmark List</h1>

  <div clas="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row border border-light shadow-lg">
        <% unless @bookmarks.empty? %>
          <% @bookmarks.reverse.each do |mark|%>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-5 mb-5 text-center user-memory">
              <%= link_to log_path(mark.log) do %><%= attachment_image_tag mark.log, :log_image, size: "210x210", class: "w-100" %><% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>