<div class="container all">
  <h1 class="logo text-center mb-5">My Dive Profile</h1>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <table class="table table-borderd">
        <tbody>
          <tr>
            <td>ライセンスランク</td><td><%= @user.license_rank %></td>
          </tr>
          <tr>
            <td>累計潜水本数</td>
            <td>
              <% @sum = 0 %>
              <% @log.each do |log|%>
                <% @sum += log.dive_number.to_i %>
              <% end %>
              <%= @sum %> 本
            </td>
          </tr>
          <tr>
            <td>最高潜水深度</td>
            <td>
              <%= @log.maximum(:dive_depth) %> M
            </td>
          </tr>
          <tr>
            <td>一番の思い出ポイント</td><td><%= @user.best_point %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>