<div class="container all text-dark">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 border border-light shadow-lg bg-light pt-4 pb-4">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3">
          <h1 class="logo text-center mb-5">Edit Profile</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 text-center text-danger mb-5">
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <strong><%= @user.errors.count %>件のエラーが発生しました</strong><br />
              <h5 class="text-danger">入力内容を確認してください</h5>
              <% @user.errors.full_messages.each do |message| %>
                <%= message %><br />
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3">
          <%= render "users/edit", user: @user %>

          <div class="row danger-btn">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3">
              <%= link_to unsubscribe_user_path, class: "btn danger-btn-gradation rounded-pill" do %>退会画面へ<% end %>
            <div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>