/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "tagsinput";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick-theme";
@import "slick";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all {
  height: 100%;
  margin-top: 130px;
  margin-bottom: 100px;
  font-family: "Sawarabi Gothic";
}
// ヘッダーここからーーーーーー＞
header {
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  // background: #fff;
.nav-link {
    font-size: 30px;
  }
}
.nav-logo {
  font-size: 45px;
  color: #FFAE00;
  font-family: 'Kaushan Script', cursive;
  .nav-logo:hover {
    color: #FFAE00;
  }
}
.navbar-brand-center {
  z-index: 1500;
  position: absolute;
  left: 47%;
  top: 15%;
  text-align:center;
  margin: auto;
}
// ハンバーガーーーーーーーーーー＞
#hm-icon {
  position: fixed;
  right: 40px;
  top: 3%;
  z-index: 1700;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 1s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 25px;
  height: 22px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 10px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: #FFAE00;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
  background-color: #FFAE00;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #FFAE00;
}

#sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(77, 142, 255, 1);
  color: black;
  width: 30%;
  min-height: 100%;
  display: none;
  z-index: 1600;
  text-align: center;
  padding-top: 50px;
}
#sp-menu h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  opacity: 1;
}

#sp-menu li {
  list-style: none;
  margin-bottom: 30px;
  opacity: 1;
}
#sp-menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}
#sp-menu p {
    color: #fff;
}
// ハンバーガーここまでーーーーー＞
// ヘッダーここまでーーーーーー＞
.flash {
  font-size: 32px;
}
.deco {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.deco:hover {
  transform: translateY(-0.1875em);
}
.nav-items {
  list-style: none;
}
// Homeここからーーーーーーー＞
.start {
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9000;
}
.start p {
  position: fixed;
  left: 27%;
  top: 48%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  width: 280px;
  color: #FF4500;
  font-size: 100px;
}

.ripples {
	width: 100%;
	height: auto;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  color: #FB8014;
}
.slide-title {
  font-size: 60px;
  font-family: 'Caveat', cursive;
  padding-top: 60px;
  margin-bottom: 60px;
}
.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}
.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}
/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}
.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}
.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}
/*ドットナビゲーションの設定*/
.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}
.slick-dots a {
    display:inline-block;
  margin:0 5px;
}
.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius: 50%;
    background:#ccc;/*ドットボタンの色*/
}
.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
.slide {
  padding-top: 100px;
  margin-bottom: 100px;
}
// Homeの画像スライドここからーーーーーー＞
.fade-block {
  font-size: 64px;
  text-align: center;
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1.5s;
  padding-top: 50px;
  font-family: "Sawarabi Gothic";
}
.fade-block.blockIn {
  opacity: 1;
  transform: translateY(0);
}
.top {
  display: flex;
  justify-content: center;
  margin: 150px auto;
}
.top h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.text1 {
  width: 100%;
  height: 230px;
  color: #fff;
  padding: 50px;
  font-family: "Sawarabi Mincho";
  background-color: #00008B;
}
.text2 {
  width: 100%;
  height: 250px;
  color: #fff;
  padding: 50px;
  font-family: "Sawarabi Mincho";
  background-color: #00008B;
}
.text3 {
  width: 100%;
  height: 300px;
  color: #fff;
  padding: 50px;
  font-family: "Sawarabi Mincho";
  background-color: #00008B;
}
.image1 {
  width: 485px;
  height: 300px;
  border-radius: 30px;
  z-index: 1800;
}
.fade-block1-1 {
  opacity: 0;
  transform: translateX(-300px);
  transition: all 1.5s;
}
.fade-block1-1.blockIn {
  opacity: 1;
  transform: translateX(-100);
}
.fade-block1-2 {
  opacity: 0;
  transform: translateX(600);
  transition: all 1.5s;
}
.fade-block1-2.blockIn {
  opacity: 1;
  transform: translateX(400);
}
.image2 {
  width: 485px;
  height: 300px;
  border-radius: 30px;
  margin-right: 50px;
}
.fade-block2-1 {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 1.5s;
}
.fade-block2-1.blockIn {
  opacity: 1;
  transform: translateX(20px);
}
.fade-block2-2 {
  opacity: 0;
  transform: translateX(200px);
  transition: all 1.5s;
}
.fade-block2-2.blockIn {
  opacity: 1;
  transform: translateX(0);
}
.fade-block2-3 {
  opacity: 0;
  transform: translateX(350px);
  transition: all 1.5s;
}
.fade-block2-3.blockIn {
  opacity: 1;
  transform: translateX(200px);
}

.go {
  text-align: center;
}
.go h1 {
  font-size: 60px;
  font-family: "Sawarabi Gothic";
  margin-bottom: 20px;
  padding-top: 150px;
}

// Homeの画像スライドここまでーーーーーー＞
// Homeここまでーーーーーーー＞

// Aboutここからーーーーーー＞

// Aboutここまでーーーーーー＞
// ----------------------->新規登録・ログインここから
.form_in {
  padding: 25px;
}
.start-title {
}
.btn-border1 {
  border-radius: 0;
}
.btn-border1:before,
.btn-border1:after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: blue;
}
.btn-border1:before {
  top: 0;
  left: 0;
}
.btn-border1:after {
  right: 0;
  bottom: 0;
}
.btn-border1:hover:before,
.btn-border1:hover:after {
  width: 0;
}
.btn-border2 {
  border-radius: 0;
}
.btn-border2:before,
.btn-border2:after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: green;
}
.btn-border2:before {
  top: 0;
  left: 0;
}
.btn-border2:after {
  right: 0;
  bottom: 0;
}
.btn-border2:hover:before,
.btn-border2:hover:after {
  width: 0;
}
.btn-border3 {
  border-radius: 0;
}
.btn-border3:before,
.btn-border3:after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: orange;
}
.btn-border3:before {
  top: 0;
  left: 0;
}
.btn-border3:after {
  right: 0;
  bottom: 0;
}
.btn-border3:hover:before,
.btn-border3:hover:after {
  width: 0;
}
// ----------------------->新規登録・ログインここまで
// ------------------------>カスタムボタン
.custom-btn {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}
.btn-gradation {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: .5s;
  background-size: 200%;
}
.btn-gradation:hover {
  background-position: right center;
  text-decoration: none;
  color: #FFF;
}
.danger-btn {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}
.danger-btn-gradation {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background: #e52d27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: .5s;
  background-size: 200%;
}
.danger-btn-gradation:hover {
  background-position: right center;
  text-decoration: none;
  color: #FFF;
}
.edit-btn {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}
.edit-btn-gradation {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: .5s;
  background-size: 200%;
}
.edit-btn-gradation:hover {
  background-position: right center;
  text-decoration: none;
  color: #FFF;
}
.guest-btn {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
  padding-top: 40px;
}
.guest-btn-gradation {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: .5s;
  background-size: 200%;
}
.guest-btn-gradation:hover {
  background-position: right center;
  text-decoration: none;
  color: #FFF;
}
.search-btn {
  font-size: 30px;
}
// ------------------------>カスタムボタン
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.user-memory {
  transition: all 0.6s ease 0s;
}
.user-memory:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

// DM機能ーーーーーーーーーーーーー＞
.dm_host_user {
  font-size: 32px;
}
.dm_user {
  font-size: 20px;
}
.back-btn {
  font-size: 32px;
}
.message_my_name {
  font-size: 32px;
}
.message-btn {
  text-decoration: none;
  background: #32cd54;
}
.my-dm {
   position: relative;
    background: #32cd54;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
// DM機能ここまでーーーーーーーーー＞
// ランキングーーーーーーーーーーー＞
.rank_number {
  font-size: 25px;
}
// ランキングここまでーーーーーーー＞
// GoogleMapここからーーーーーーーーー＞
#map {
  height: 800px;
}

.gmap input {
  border: 1px solid #000;
}

.field_with_errors {
  display: inline;
}
// GoogleMapここまでーーーーーーーーー＞
// ランキングここからーーーーーーーーー＞
.award {
  font-size: 32px;
}
// ランキングここまでーーーーーーーーー＞



.slide-image1 {
  background-image: image-url('sea-view16.jpg');
  background-size: cover;
  background-position: center;
}
.slide-image2 {
  background-image: image-url('sea-view.jpg');
  background-size: cover;
  background-position: center;
}
.slide-image3 {
  background-image: image-url('sea-view22.jpg');
  background-size: cover;
  background-position: bottom;
}
// .footer-image {
//   background-image: image-url('/assets/sea-view25.jpg');
//   background-size: cover;
//   background-position: center;
//   width: 100%;
// }
.top-image {
  width: 100%;
  height: auto;
  margin-top: 86px;
  position: relative;
}
.top-text-content {
  font-family: "Sawarabi Mincho";
  color: #fff;
  font-size: 80px;
  position: absolute;
  top: 530px;
  right: 40%;
  text-align: center;
}
.icon_layers {
  position: relative;
}
.icon_layers_counter{
  font-size: 15px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 15px;
  background: Tomato;
}








