<div class="container all">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 shadow-lg bg-light text pt-5 pb-5">

      <div class="row logo text-center mb-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3">
          <h1>New Memory</h1>
        </div>
      </div>

      <div class="row text-center text-danger mb-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3">
          <%= render "logs/log-error", log: @log %>
        </div>
      </div>

      <%= render "logs/log-form", log: @log %>

    </div>
  </div>
</div>

<script>
  let map
  let geocoder

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: -34.397,
        lng: 150.644
      },
      zoom: 8
    });
  }

  function codeAddress() {
    let inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);

        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });

        // タイトルフォームにデフォルト値として検索値を設定
        let title = document.getElementById('map_title');
        title.setAttribute("value", inputAddress);

        // 検索値を隠しデータとしてセット
        let hidden_address = document.getElementById('hidden_address');
        hidden_address.setAttribute("value", inputAddress);
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MY_GOOGLE_MAP_API'] %>&callback=initMap" async defer>
</script>